.block {
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  color: var(--teal6);
  white-space: pre;
  .icon {
    margin-right: 8px;
  }
  .description {
    font-size: 14px;
    text-align: center;
  }
}
