.block {
  display: flex;
  justify-content: flex-end;

  @media screen and (max-width: 768px) {
    padding-left: 16px;
    padding-right: 16px;
  }

  .search {
    display: flex;
    height: 36px;
    border: 1px solid var(--border2);
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    transition: all 0.125s ease-in;
    cursor: text;

    @media screen and (max-width: 768px) {
      height: 30px;
      padding-left: 8px;
      padding-right: 8px;
    }

    svg {
      width: 16px;
      height: 16px;
      transition: all 0.125s ease-in;
      margin-right: 0.5rem;
      flex-shrink: 0;

      @media screen and (max-width: 425px) {
        width: 14px;
        height: 14px;
      }
    }

    input {
      transition: all 0.125s ease-in;
      font-size: 14px;
      flex: 1;
      display: block;
      line-height: 16px;
      height: 16px;
      padding: 0;
      border: none;
      outline: 0;
      background: transparent;
      color: var(--text2);
      min-width: 0;
      &::placeholder {
        color: var(--text3);
      }

      @media screen and (max-width: 768px) {
        font-size: 12px;
      }
    }
  }

  .focus {
    border: 1px solid var(--border1);
    svg {
      fill: var(--gray9);
    }
    input {
      color: var(--text1);
    }
  }
}
