.block {
  display: block;
  position: fixed;
  top: 0;
  background: var(--bg-element1);
  width: 100%;
  box-shadow: 0px 0 8px rgba(0, 0, 0, 0.08);
  z-index: 1;

  .innerBlock {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 768px) {
      justify-content: flex-start;
      margin-left: 16px;
    }
  }
}
