.block {
  background-color: red;
  .switch {
    width: 160px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: flex-start;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;

    &.isActive {
      justify-content: flex-end;
    }

    .handle {
      width: 80px;
      height: 80px;
      background-color: gold;
      border-radius: 40px;
    }
  }
}
