.block {
  display: flex;
  padding: 8px 16px;
}

.item {
  list-style: none;
  user-select: none;

  .thumbnail {
    width: 40px;
    height: 40px;

    @media screen and (max-width: 425px) {
      width: 32px;
      height: 32px;
    }

    img {
      border-radius: 50%;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.06);
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 19px;
    font-size: 14px;
    font-weight: 400;
    max-width: 100%;

    p {
      white-space: pre;
      word-wrap: break-word;
      word-break: break-all;
      color: var(--text2);
    }

    span {
      display: inline;
    }

    .wrap {
      white-space: normal;
    }

    .bold {
      font-size: 16px;
      font-weight: 600;
    }

    .time {
      padding-left: 5px;
      font-size: 12px;
      color: var(--text3);
      white-space: nowrap;
    }

    .spacer {
      padding-left: 5px;
    }
  }

  &.isRead {
    .content {
      * {
        color: var(--text3) !important;
      }
    }
  }
}

.skeleton {
  .content {
    width: 70%;
    margin-left: 24px;

    @media screen and (max-width: 768px) {
      max-width: 60%;
      margin-bottom: 18px;
    }

    @media screen and (max-width: 425px) {
      max-width: 50%;
      margin-left: 12px;
    }

    .info {
      display: flex;
      margin-top: 10px;
    }
  }

  .button {
    width: 96px;
    height: 32px;
    border-radius: 16px;
    background-color: var(--bg-element4);
    margin-left: auto;

    @media screen and (max-width: 768px) {
      width: 80px;
      height: 24px;
    }

    @media screen and (max-width: 425px) {
      width: 68px;
      height: 24px;
    }
  }
}
