.block {
  padding-top: 64px;
  padding-bottom: 64px;
  margin-bottom: 24px;

  @media screen and (max-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 12px;
  }

  & > a {
    color: inherit;
    text-decoration: none;
  }

  &:first-child {
    padding-top: 0;
  }

  line-height: 1.5;

  & + & {
    border-top: 1px solid var(--border4);
  }

  h2 {
    font-size: 1.5rem;
    margin: revert;
    color: var(--text1);
    word-break: keep-all;
    @media screen and (max-width: 768px) {
      font-size: 1rem;
    }
  }

  p {
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    color: var(--text2);
    word-break: keep-all;
    overflow-wrap: break-word;
    @media screen and (max-width: 768px) {
      font-size: 0.875rem;
      margin-bottom: 1.5rem;
    }
  }
}

.userInfo {
  display: flex;
  align-items: center;
  img {
    width: 3rem;
    height: 3rem;
    display: block;
    margin-right: 1rem;
    background: var(--bg-element2);
    object-fit: cover;
    border-radius: 1.5rem;
    box-shadow: 0px 0 8px rgba(0, 0, 0, 0.1);
    @media screen and (max-width: 768px) {
      width: 2rem;
      height: 2rem;
      border-radius: 1rem;
    }
  }
  .username {
    font-size: 0.875rem;
    color: var(--text1);
    font-weight: bold;
    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        color: var(--text1);
      }
    }
  }
}

.postThumbnail {
  margin-bottom: 1rem;
}

.subInfo {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  color: var(--text3);
  font-size: 0.875rem;

  @media screen and (max-width: 768px) {
    font-size: 0.75rem;
  }

  .seperator {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .likes {
    display: flex;
    align-items: center;

    svg {
      width: 0.875rem;
      height: 0.875rem;
      margin-right: 0.25rem;
    }
  }

  .tagsWrapper {
    margin-bottom: -0.875rem;
    @media screen and (max-width: 768px) {
      margin-bottom: -0.5rem;
    }
  }
}

.skeletonBlock {
  h2 {
    display: flex;
    margin-top: 1.375rem;
    margin-bottom: 0.375rem;
  }
  .userThumbnailSkeleton {
    width: 3rem;
    height: 3rem;
    @media screen and (max-width: 768px) {
      width: 2rem;
      height: 2rem;
    }
  }
  .thumbnailSkeletonWrapper {
    width: 100%;
    padding-top: 52.35%;
    position: relative;
    .skeleton {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .shortDescription {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 1rem;
    .line {
      display: flex;
    }
    .line + .line {
      margin-top: 0.5rem;
    }
  }
  .tagsSkeleton {
    line-height: 1;
    font-size: 2rem;
    @media screen and (max-width: 768px) {
      font-size: 1.25rem;
    }
  }
}
