.aligner {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 5;
  transform-origin: top right;
  user-select: none;

  .block {
    border: 1px solid var(--border3);
    margin-top: 0.5rem;
    width: 192px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    background: var(--bg-element1);
    color: var(--text1);

    @media screen and (max-width: 768px) {
      width: 180px;
    }

    @media screen and (max-width: 425px) {
      width: 160px;
    }

    & ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
    }
    & li {
      font-weight: 600;

      font-size: 0.875rem;
      padding: 0;
      &:hover {
        color: var(--primary1);
      }
      & a {
        display: block;
        padding: 0.75rem 1rem;

        color: inherit;
        text-decoration: none;
      }
    }
    & li + li {
      border-top: 1px solid var(--border4);
    }
    .contact {
      border-top: 1px solid var(--border4);
      padding: 1rem;
      & h5 {
        margin: 0;
        font-size: 0.75rem;
      }
      .email {
        color: var(--text1);
        font-size: 0.75rem;
      }
    }
    .graphCdn {
      display: flex;
      justify-content: center;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      & img {
        width: 120px;
        height: auto;
      }
    }
  }
}
