.block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background: var(--slight-layer);
  }

  svg {
    flex-shrink: 0;
    width: 24px;
    height: 24px;

    path {
      fill: var(--text1);
    }
  }
}
