.block {
  width: 20rem;
  background: var(--bg-element1);
  border-radius: 4px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
  transition: 0.25s box-shadow ease-in, 0.25s transform ease-in;
  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.08);
    @media screen and (max-width: 1024px) {
      transform: none;
    }
    /* ${mediaQuery(1024)} {
      transform: none;
    } */
  }
  margin: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1056px) {
    width: calc(50% - 2rem);
  }

  @media screen and (max-width: 767px) {
    margin: 0;
    width: 100%;
    & + & {
      margin-top: 1rem;
    }
  }

  .isNotHomeAndPost {
    @media screen and (max-width: 1440px) {
      width: calc(25% - 2rem);
    }

    @media screen and (max-width: 1312px) {
      width: calc(33% - 1.8125rem);
    }
  }

  .styleLink {
    display: block;
    color: inherit;
    text-decoration: none;
  }
}

.content {
  padding: 1rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  h4 {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 0.25rem;
    line-height: 1.5;
    word-break: break-word;

    /* ${ellipsis} */
    color: var(--text1);
    @media screen and (max-width: 767px) {
      white-space: initial;
    }
  }
  .descriptionWrapper {
    flex: 1;
  }

  p {
    margin: 0;
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: 0.875rem;
    line-height: 1.5;
    &.clamp {
      height: 3.9375rem;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    color: var(--text2);
    margin-bottom: 1.5rem;
  }

  .subInfo {
    font-size: 0.75rem;
    line-height: 1.5;
    color: var(--text3);
    .separator {
      margin-left: 0.25rem;
      margin-right: 0.25rem;
    }
  }
}

.footer {
  padding: 0.625rem 1rem;
  border-top: 1px solid var(--border4);
  display: flex;
  font-size: 0.75rem;
  line-height: 1.5;
  justify-content: space-between;
  .userInfo {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    img {
      object-fit: cover;
      border-radius: 50%;
      width: 1.5rem;
      height: 1.5rem;
      display: block;
      margin-right: 0.5rem;
    }
    span {
      color: var(--text3);
      b {
        color: var(--text1);
      }
    }
  }
  .likes {
    display: flex;
    align-items: center;
    svg {
      width: 0.75rem;
      height: 0.75rem;
      margin-right: 0.5rem;
    }
  }
}

.skeletonBlock {
  .skeletonThumbnailWrapper {
    width: 100%;
    padding-top: 52.19%;
    position: relative;
    .skeletonThumbnail {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .lines {
    height: 3.9375rem;
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
    .line {
      display: flex;
    }
    .line + .line {
      margin-top: 0.3rem;
    }
  }
}
