.wrapper {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.left {
  display: flex;
  align-items: center;
  position: relative;
  height: 3rem;
}

.block {
  display: flex;
  position: relative;
  width: 14rem;
  height: 100%;

  @media screen and (max-width: 944px) {
    width: 10rem;
  }

  a {
    display: flex;
    width: 7rem;
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;
    text-decoration: none;
    color: var(--text3);

    svg {
      font-size: 1.5rem;
      margin-right: 0.5rem;
    }

    @media screen and (max-width: 944px) {
      font-size: 1rem;
      width: 5rem;
      svg {
        font-size: 1.25rem;
      }
    }
  }

  .active {
    color: var(--text1);
    font-weight: bold;
  }

  .indicator {
    position: absolute;
    width: 50%;
    height: 2px;
    background: var(--border1);
    bottom: 0%;
  }
}

.selector {
  background: var(--bg-element1);
  height: 2rem;
  width: 6rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: 600;
  color: var(--text2);
  font-size: 0.875rem;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
  user-select: none;
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  cursor: pointer;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      opacity: 0.75;
    }
  }

  @media screen and (max-width: 1024px) {
    width: 5.25rem;
    font-size: 0.75rem;
  }
}

.extra {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--text3);
}
