.block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;

  @media screen and (max-width: 1024px) {
    height: 24px;
  }

  .logo {
    display: flex;
    svg {
      width: 28px;
      height: 28px;

      @media screen and (max-width: 1024px) {
        width: 24px;
        height: 24px;
      }
    }
  }

  svg {
    color: var(--text1);
  }

  .userLogo {
    display: flex;
    align-items: center;
    max-width: calc(100vw - 220px);
    color: var(--text1);
    height: 100%;
    font-size: 21px;
    margin-left: 16px;
    font-weight: 600;

    @media screen and (max-width: 1024px) {
      font-size: 18px;
      margin-left: 12px;
      max-width: calc(100vw - 250px);
    }
  }
}
