node_modules
.git
.gitignore
.out
*.md

docker-compose.*

/**/**/.DS_Store
/**/**/*.md
/**/**/node_modules
/**/**/dist
/**/**/.next
/**/**/.git
/**/**/.prettierrc
/**/**/.env
/**/**/.env.*
/**/**/.dockerignore
/**/**/.eslintrc
/**/**/.eslintrc.*
/**/**/.eslintignore
/**/**/.prettierrc 
/**/**/.prettierignore
/**/**/.vscode
/**/**/.eslint.cjs
/**/**/jest.*.*
/packages/not-shared