node_modules
.git
.gitignore
.out
*.md

.DS_Store

/packages/**/*.md
/packages/**/node_modules
/packages/**/dist
/packages/**/.next
/packages/**/.git
/packages/**/.prettierrc
/packages/**/.env
/packages/**/.env.*
/packages/**/.dockerignore
/packages/**/.eslintrc
/packages/**/.eslintignore
/packages/**/.prettierrc 
/packages/**/.prettierignore
/packages/**/.vscode
/packages/**/.eslint.cjs

