# .prettierignore
node_modules/
pnpm-lock.yaml

# Next ignore patterns
**/.next/
**/.build/
**/.coverage/

# Server
**/dist

# confilc files
**/src/**/**/katexWhiteList.ts
**/src/**/**/FlatPostCard.tsx