.block {
  width: 96px;
  height: 32px;
  font-size: 16px;

  @media screen and (max-width: 768px) {
    width: 80px;
    height: 24px;
    font-size: 14px;
  }

  @media screen and (max-width: 425px) {
    width: 72px;
    font-size: 12px;
  }

  .button {
    display: flex;
    box-shadow: none;
    align-items: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;
    border-radius: 16px;
    font-weight: 700;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    font-size: 16px;

    @media screen and (max-width: 768px) {
      font-size: 14px;
    }

    @media screen and (max-width: 425px) {
      font-size: 12px;
    }
  }

  .followButton {
    color: var(--primary1);
    border: 1px solid var(--primary1);

    &.isFollowed {
      color: var(--bg-element6);
      border: 1px solid var(--bg-element6);
    }
  }

  .unfollowButton {
    color: var(--bg-element6);
    border: 1px solid var(--bg-element6);

    &.isUnfollow {
      &:hover,
      &:active {
        color: var(--destructive);
        border: 1px solid var(--destructive);
      }
    }
  }
}

.skeleton {
  width: 96px;
  height: 32px;
  border-radius: 16px;
  background: var(--bg-element4);
  cursor: pointer;

  @media screen and (max-width: 768px) {
    width: 80px;
    height: 24px;
  }
}
