.block {
  display: flex;
  width: 1728px;
  margin: 0 auto;
  height: 100%;

  @media (max-width: 1919px) {
    width: 1376px;
  }

  @media (max-width: 1440px) {
    width: 1024px;
  }

  @media (max-width: 1056px) {
    width: calc(100% - 2rem);
  }
}
