.block {
  height: 64px;
  width: 100%;
  flex-shrink: 0;

  .innerBlock {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .right {
    display: flex;
    align-items: center;
    position: relative;

    .writeButton {
      user-select: none;
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
  }
}
