.block {
  .innerBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .right {
    display: flex;
    align-items: center;
    position: relative;
    height: 40px;

    a + a {
      margin-left: 4px;
    }

    .button {
      margin-left: 8px;
    }

    .writeButton {
      user-select: none;
      margin-right: 20px;
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
  }
}
