.block {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;

  .innerBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .right {
    display: flex;
    align-items: center;
    position: relative;
    height: 40px;

    .writeButton {
      user-select: none;
      margin-right: 20px;
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
  }
}
