.block {
  .innerBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .right {
    display: flex;
    align-items: center;
    position: relative;
    height: 40px;

    .notification {
      margin-right: 4px;
    }

    .isNotificationPage {
      background-color: rgba(0, 0, 0, 0.1);
    }

    .notificationCounter {
      position: absolute;
      top: 3px;
      right: -3px;
      padding: 1px 4px;
      font-weight: 500;
      font-size: 11px;
      background-color: var(--primary1);
      color: var(--button-text);
      border-radius: 100px;

      &.isSingle {
        right: 4px;
      }
    }
    .button {
      margin-left: 8px;
    }

    .writeButton {
      user-select: none;
      margin-right: 20px;
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
  }
}
