.block {
  .header {
    .category {
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: 700;
      color: var(--text2);

      .imageWrapper {
        display: block;
        margin-right: 8px;

        .thumbnail {
          width: 32px;
          height: 32px;
          img {
            border-radius: 50%;
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.06);
          }
        }
      }
      .info {
        margin-top: -3px;

        .displayName {
          color: var(--text2);
        }
        .allow {
          padding-left: 8px;
          padding-right: 8px;
        }
      }
    }

    .count {
      margin-top: 16px;
      font-size: 32px;

      @media screen and (max-width: 768px) {
        font-size: 24px;
      }
    }
  }
}
