.block {
  position: absolute;
  top: 100%;
  margin-top: 1rem;
  right: 0;
  > .menu-wrapper {
    position: relative;
    z-index: 5;
    width: 12rem;
    background: var(--bg-element1);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);

    .mobile-only {
      display: none;
      @media screen and (min-width: 768px) {
        display: block;
      }
    }
  }
}
