.block {
  h3 {
    margin: 0;
    font-size: 24px;
    color: var(--text1);
    line-height: 1.5;
    font-weight: bold;
  }
  .message {
    line-height: 1.5;
    font-size: 16px;
    color: var(--text2);
    margin-top: 16px;
    margin-bottom: 16px;
    white-space: pre-wrap;
  }
  .buttonArea {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    button + button {
      margin-left: 0.75rem;
    }
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
