.block {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;

  .innerBlock {
    display: flex;
    margin: 0 auto;
    flex-flow: row wrap;
  }
}

.mainWrapper {
  width: 100%;
  margin-top: 32px;
  margin-bottom: 16px;

  @media screen and (max-width: 1056px) {
    padding-left: 16px;
    padding-right: 16px;
  }
  main {
    width: 100%;
  }
}
