.block {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;

  .innerBlock {
    display: flex;
    margin: 0 auto;
    flex-flow: row wrap;
  }
}

.mainWrapper {
  display: flex;
  padding-top: 32px;
  padding-bottom: 16px;
  main {
    flex: 1;
  }
}
