.wrapper {
  width: 100%;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &.isFloating {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 48px;
  user-select: none;

  .tab {
    display: flex;
    position: relative;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      text-decoration: none;
      white-space: nowrap;
      color: var(--text3);

      &.active {
        color: var(--text1);
        font-weight: bold;
      }

      svg {
        font-size: 24px;
        margin-right: 8px;
      }

      @media screen and (max-width: 768px) {
        width: 70px;
        svg {
          font-size: 18px;
        }
      }

      @media screen and (max-width: 425px) {
        width: 60px;
        svg {
          font-size: 16px;
        }
      }
    }

    a + a {
      margin-left: 20px;
      @media screen and (max-width: 768px) {
        margin-left: 8px;
      }

      @media screen and (max-width: 425px) {
        margin-left: 5px;
      }
    }

    .indicator {
      position: absolute;
      width: 32%;
      height: 2px;
      background: var(--border1);
      bottom: -10px;

      @media screen and (max-width: 425px) {
        width: 29%;
        margin-left: 3px;
      }
    }
  }
}

.right {
  position: relative;
  display: flex;
  .selector {
    background: var(--bg-element1);
    height: 32px;
    width: 100px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 600;
    color: var(--text2);
    font-size: 14px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
    user-select: none;

    @media screen and (max-width: 1024px) {
      width: 84px;
      font-size: 12px;
    }

    @media screen and (max-width: 375px) {
      padding-left: 4px;
      padding-right: 4px;
      width: 70px;
    }

    svg {
      width: 24px;
      height: 24px;
    }
    cursor: pointer;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        opacity: 0.75;
      }
    }
  }

  .extra {
    margin-top: 5px;
    cursor: pointer;
    font-size: 24px;
    color: var(--text3);
  }
}
