.block {
  width: 100%;
}

.mainWrapper {
  padding-top: 90px;
  width: 100%;
  padding-bottom: 64px;
  margin: 0 auto;

  @media screen and (max-width: 1056px) {
    max-width: 768px;
    width: 100%;
    padding-bottom: 32px;
  }

  @media screen and (max-width: 768px) {
    padding-top: 48px;
  }
}

.section {
  position: relative;
  width: 100%;
}
