.block {
  width: 100%;
}

.mainWrapper {
  margin: 0 auto;
  margin-top: 90px;
  width: 100%;
  padding-bottom: 64px;

  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 0;
    padding-bottom: 32px;
    /* margin: 48px 0; */
  }
}

.section {
  position: relative;
  width: 100%;
}
