.block {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 21px;
  font-family: Fira Mono, monospace;
  height: 100%;
  line-height: 10px;

  @media screen and (min-width: 1024px) {
    font-size: 18px;

    .velogLogo {
      height: 100%;
    }
  }

  svg {
    color: var(--text1);
  }
}
