.block {
  width: 100%;

  .empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    svg {
      width: 320px;
      height: 320px;
      margin-bottom: 32px;
      display: block;
    }
    .message {
      font-size: 32px;
      color: var(--text3);
      margin-bottom: 32px;

      @media screen and (max-width: 425px) {
        font-size: 28px;
      }
    }
  }
}

.skeletonBlock {
  width: 100%;
  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .lines {
    width: 100%;
    .line {
      margin-bottom: 0.75rem;
      display: flex;
      font-size: 1.125rem;
    }
  }

  .lines + .lines {
    margin-top: 3rem;
  }
}
