.backdrop {
  z-index: 10;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: var(--opaque-layer);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
