.block {
  display: flex;
  align-items: center;

  & + & {
    margin-top: 16px;
  }

  .thumbnail {
    width: 40px;
    height: 40px;

    @media screen and (max-width: 425px) {
      width: 32px;
      height: 32px;
    }

    img {
      border-radius: 50%;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.06);
    }
  }

  .content {
    margin-left: 24px;
    max-width: 70%;
    word-break: keep-all;

    @media screen and (max-width: 768px) {
      max-width: 60%;
      margin-left: 20px;
    }

    @media screen and (max-width: 425px) {
      max-width: 55%;
      margin-left: 18px;
    }

    .info {
      display: flex;
      .text {
        color: var(--text2);
        font-size: 16px;
        font-weight: 500;

        @media screen and (max-width: 768px) {
          font-size: 14px;
        }

        @media screen and (max-width: 425px) {
          font-size: 12px;
        }
      }
      .username {
        color: var(--text3);
        font-size: 14px;
        font-weight: 400;
        margin-left: 4px;

        @media screen and (max-width: 768px) {
          font-size: 12px;
        }

        @media screen and (max-width: 425px) {
          font-size: 10px;
        }
      }
    }

    .description {
      color: var(--text2);
      font-size: 14px;
      font-weight: 400;
      margin-top: 5px;

      @media screen and (max-width: 768px) {
        font-size: 12px;
      }

      @media screen and (max-width: 425px) {
        font-size: 10px;
      }
    }
  }

  .button {
    margin-left: auto;
  }
}

.skeletonBlock {
  & + & {
    margin-top: 20px;
  }

  .content {
    width: 70%;
    margin-left: 24px;

    @media screen and (max-width: 768px) {
      max-width: 60%;
      margin-bottom: 18px;
    }

    @media screen and (max-width: 425px) {
      max-width: 50%;
      margin-left: 12px;
    }

    .info {
      display: flex;
      margin-top: 10px;
    }
  }

  .button {
    width: 96px;
    height: 32px;
    border-radius: 16px;
    background-color: var(--bg-element4);
    margin-left: auto;

    @media screen and (max-width: 768px) {
      width: 80px;
      height: 24px;
    }

    @media screen and (max-width: 425px) {
      width: 68px;
      height: 24px;
    }
  }
}
