.block {
  .selector {
    display: flex;
    padding: 0;

    .list {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 132px;
      height: 72px;
      user-select: none;
      border-radius: 2px;
      border: 1px solid var(--border4);
      cursor: pointer;

      &.active {
        border: 1px solid var(--primary2);
      }

      @media screen and (max-width: 425px) {
        width: 120px;
      }

      @media screen and (max-width: 375px) {
        width: 107px;
      }

      @media screen and (max-width: 325px) {
        width: 89px;
      }
    }

    .list + .list {
      margin-left: 16px;

      @media screen and (max-width: 375px) {
        margin-left: 10px;
      }
    }

    .light {
      background-color: white;
    }

    .dark {
      background-color: black;
    }

    .system {
      display: flex;
      div {
        width: 50%;
        height: 100%;
      }
    }
  }
}
