.block {
  border: none;
  outline: none;
  font-weight: bold;
  word-break: keep-all;

  &.small {
    height: 1.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    border-radius: 0.75rem;
  }

  &.default {
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
  }

  &.large {
    height: 3rem;
    font-size: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 1.5rem;
  }

  .border {
    background: var(--bg-element2);
    &.btn-teal {
      border: 1px solid var(--primary1);
      color: var(--primary1);
      &:hover {
        background: var(--bg-element2);
      }
    }
    &.btn-gray {
      border: 1px solid var(--gray6);
      color: var(--gray6);
      &:hover {
        background: var(--gray6);
      }
    }
    &.btn-darkGray {
      border: 1px solid var(--bg-element5);
      color: var(--bg-element5);
      &:hover {
        background: var(--bg-element5);
      }
    }
    &.btn-lightGray {
      border: 1px solid var(--bg-element4);
      color: var(--bg-element4);
      &:hover {
        background: var(--bg-element4);
      }
    }

    &:hover {
      color: var(--button-text);
    }
  }

  transition: 0.125s all ease-in;
  &:focus {
    box-shadow: 0px 2px 12px #00000030;
  }
  cursor: pointer;
  &:disabled {
    background: var(--bg-element2);
  }
}
