.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &.isFloating {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media screen and (max-width: 500px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 48px;
  user-select: none;

  @media screen and (max-width: 500px) {
    width: 100%;
  }
}

.tab {
  position: relative;
  display: flex;
  align-items: center;

  @media screen and (max-width: 500px) {
    width: 100%;
    justify-content: space-between;
  }

  & > a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-decoration: none;
    white-space: nowrap;
    color: var(--text3);
    width: 100px;
    flex-shrink: 0;

    &.active {
      color: var(--text1);
      font-weight: bold;
    }

    & svg {
      font-size: 24px;
      margin-right: 8px;
    }

    @media screen and (max-width: 768px) {
      width: 80px;
      & svg {
        font-size: 18px;
      }
    }

    @media screen and (max-width: 500px) {
      flex: 1;
      width: auto;
      font-size: 14px;

      & span {
        font-size: 14px;
      }

      & svg {
        font-size: 20px;
        margin-right: 4px;
      }
    }

    @media screen and (max-width: 425px) {
      & svg {
        font-size: 16px;
      }
    }
  }

  .indicator {
    position: absolute;
    width: 100px;
    height: 2px;
    background: var(--border1);
    bottom: -10px;
    left: calc(var(--tab-index) * 100px);
    transition: left 0.2s ease-in-out;

    @media screen and (max-width: 768px) {
      width: 80px;
      left: calc(var(--tab-index) * 80px);
    }

    @media screen and (max-width: 500px) {
      width: 25%;
      left: calc(var(--tab-index) * 25%);
    }
  }
}

.icon {
  width: 24px;
  height: 24px;

  @media screen and (max-width: 768px) {
    width: 18px;
    height: 18px;
  }

  @media screen and (max-width: 500px) {
    width: 20px;
    height: 20px;
    margin-right: 4px;
  }

  @media screen and (max-width: 425px) {
    width: 16px;
    height: 16px;
  }
}

.right {
  position: relative;
  display: flex;

  @media screen and (max-width: 500px) {
    width: 100%;
    justify-content: flex-end;
  }

  .selector {
    background: var(--bg-element1);
    height: 32px;
    width: 100px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 10px;
    font-weight: 600;
    color: var(--text2);
    font-size: 14px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
    user-select: none;

    @media screen and (max-width: 1024px) {
      width: 84px;
      font-size: 12px;
    }

    @media screen and (max-width: 375px) {
      padding-left: 4px;
      padding-right: 4px;
      width: 70px;
    }

    & svg {
      width: 24px;
      height: 24px;
    }
    cursor: pointer;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        opacity: 0.75;
      }
    }
  }

  .extra {
    margin-top: 5px;
    cursor: pointer;
    font-size: 24px;
    color: var(--text3);
  }
}
