.block {
  .innerBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .right {
    display: flex;
    align-items: center;
    position: relative;
    height: 40px;

    .button {
      display: inline-block;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: var(--bg-element4);
      cursor: default;

      & + .button {
        margin-left: 10px;
      }
    }

    .writeButton {
      user-select: none;
      margin-right: 20px;
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
  }
}
