.block {
  height: 4rem;
  width: 100%;

  .innerBlock {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .right {
    display: flex;
    align-items: center;
    position: relative;

    .writeButton {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}
