.block {
  background: var(--bg-element4);
  animation: shining 1s ease-in-out infinite;
  display: inline-block;
  border-radius: 4px;
  height: 1em;

  &.noSpacing {
    & + & {
      margin-left: 0.5rem;
    }
  }

  &.circle {
    border-radius: 50%;
  }
}

@keyframes shining {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
