.block {
  margin-top: 64px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .image {
    width: 269px;
    height: 300px;
    margin: 0 auto;
  }
  .text {
    margin-top: 32px;
    color: var(--text2);
    font-size: 32px;
    font-weight: 400;

    @media screen and (max-width: 768px) {
      font-size: 20px;
    }
  }
  .subText {
    margin-top: 16px;
    color: var(--text3);
    font-size: 16px;
    word-break: keep-all;
    text-align: center;

    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
  }
}
