.block {
  background-color: var(--gray8);
  color: white;
  line-height: 1;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Apple SD Gothic Neo', arial,
    나눔고딕, 'Nanum Gothic', 돋움, Dotum, Tahoma, Geneva, sans-serif;
  display: inline-flex;
  align-items: center;
  svg {
    margin-right: 8px;
    width: 14px;
    height: 14px;
  }
}
