.block {
  position: absolute;

  top: 0;
  width: 184px;
  left: -216px;

  @media screen and (max-width: 1200px) {
    display: none;
  }

  .title {
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--border2);
    margin-bottom: 16px;
    color: var(--text2);
    font-weight: bold;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
}

.listItem {
  color: var(--text1);
  font-size: 14px;
  line-height: 1.5;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: var(--text1);
      text-decoration: underline;

      span {
        text-decoration: none;
      }
    }
  }

  &.active {
    color: var(--primary2);
    font-weight: bold;
  }

  span {
    margin-left: 8px;
    color: var(--text3);
    font-weight: normal;
  }

  & + & {
    margin-top: 4px;
  }
}
