.block {
  width: 50%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 48px;

  @media screen and (max-width: 768px) {
    padding: 0;
    width: 100%;
    & + & {
      margin-top: 48px;
    }
  }

  a {
    display: block;
    color: inherit;
  }

  .imageWrapper {
    position: relative;
    width: 368px;
    height: 193px;

    @media screen and (max-width: 768px) {
      width: 100%;
      height: calc(100vw * 0.5);
    }

    img {
      object-fit: cover;
    }
  }

  h4 {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 8px;
    line-height: 1.5;
    color: var(--text1);

    @media screen and (max-width: 768px) {
      line-height: 1;
    }

    .name {
      color: inherit;
    }
  }

  .info {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    color: var(--text3);

    @media screen and (max-width: 768px) {
      line-height: 1;
    }

    .count {
      color: var(--text1);
    }

    .dot {
      margin-left: 4px;
      margin-right: 4px;
    }
  }
}

.skeletonBlock {
  .imageSkeletonWrapper {
    padding-top: 52.35%;
    position: relative;
    .skeleton {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
}
