.block {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: space-between;

  .left {
    .button {
      padding: 8px 16px;
      font-size: 16px;
      font-weight: 600;
      border-radius: 16px;
      color: var(--text3);
      background-color: var(--bg-element2);

      @media screen and (max-width: 768px) {
        font-size: 14px;
      }

      &.isActive {
        color: var(--primary1);
        background: linear-gradient(
            0deg,
            rgba(18, 184, 134, 0.08) 0%,
            rgba(18, 184, 134, 0.08) 100%
          ),
          var(--bg-element2, #f8f9fa);
      }
    }

    .button + .button {
      margin-left: 12px;
    }
  }

  .right {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .handler {
      font-size: 14px;
      color: var(--text3);
      padding-bottom: 3px;

      @media screen and (max-width: 768px) {
        font-size: 12px;
      }

      &:hover {
        border-bottom: 1px solid var(--text3);
        cursor: pointer;
      }
    }

    .handler + .handler {
      margin-left: 12px;
    }
  }
}
