name: Velog Web build workdflow

on:
  push:
    branches: ['main', 'development', 'hotfix']
    paths:
      - 'packages/velog-web/**'
  pull_request:
    branches: ['main', 'development', 'hotfix']
    paths:
      - 'packages/velog-web/**'

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: './packages/velog-web'

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: latest

      - name: Setup Node.js
        uses: actions/setup-node@v3.7.0
        with:
          node-version: 18.16
          cache: 'pnpm'
          cache-dependency-path: './pnpm-lock.yaml'

      - name: Install Dependencies
        run: pnpm install

      - name: Build
        run: pnpm build
