.block {
  .header {
    .category {
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: 700;
      color: var(--text2);

      .imageWrapper {
        display: block;
        margin-right: 8px;

        .thumbnail {
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.06);
          width: 32px;
          height: 32px;
          img {
            border-radius: 16px;
          }
        }
      }

      .displayName {
        color: var(--text2);
      }
      .allow {
        margin-top: -4px;
        padding-left: 8px;
        padding-right: 8px;
      }
    }

    .info {
      margin-top: 16px;
      font-size: 32px;
    }
  }
}
