.block {
  .header {
    .category {
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: 700;
      color: var(--text2);

      .thumbnail {
        display: block;
        margin-right: 8px;
        border-radius: 50%;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.06);
      }

      .displayName {
        color: var(--text2);
      }
      .allow {
        padding-left: 8px;
        padding-right: 8px;
      }
      .subCategory {
        margin-top: 1px;
      }
    }

    .info {
      margin-top: 16px;
      font-size: 32px;
    }
  }
}
